/* Sidebar container */
.DashSidebar {
    background-color: #042140;
    color: white;
    height: 95vh;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 40px;
    left: 0;
    width: 250px;
    transition: width 0.3s ease;
}

/* Collapsed Sidebar */
.DashSidebar.collapsed {
    width: 60px;
}

/* Hide text when collapsed */
.DashSidebar.collapsed .DashMenu-text {
    display: none;
}

/* Menu */
.DashMenu {
    flex-grow: 1;
    padding: 10px;
}

/* Menu Item */
.DashMenu-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    transition: background 0.3s ease;
    position: relative;
}

.DashMenu-item:hover {
    background-color: #1e40af;
}

/* Menu Icon */
.DashMenu-item svg {
    margin-right: 10px;
}

/* Collapse Button */
.collapse-button {
    background: none;
    border: none;
    color: rgb(70, 194, 247);
    cursor: pointer;
    gap: 10px;
    position: relative;
    bottom: 250px;
}

/* Collapse text */
.DashCollaps-text {
    color: rgb(70, 194, 247);
}

/* Hide collapse button text when collapsed */
.DashSidebar.collapsed .collapse-button .DashCollaps-text {
    display: none;
}

/* Dropdown Menu */
.DashDropdown {
    background: #34495e;
    position: absolute;
    left: 100%;
    top: 0;
    min-width: 150px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000; /* Assure que le dropdown reste au-dessus */
    display: block;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

/* Show dropdown when hovering over an item */
.DashMenu-item-wrapper:hover .DashDropdown {
    display: block;
}
.DashMenu-item:hover .DashDropdown,
.DashDropdown:hover {
    opacity: 1;
    visibility: visible;
}

/* Dropdown item */
.DashDropdown-item {
    display: block;
    padding: 8px 12px;
    color: white;
    text-decoration: none;
    font-size: 12px;
    transition: background 0.3s ease;
}

.DashDropdown-item:hover {
    color: #1abc9c;
}

/* Special case when collapsed */
.DashSidebar.collapsed .DashDropdown {
    position: absolute;
    left: 60px;
    background: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    display: none;
    min-width: 150px;
    border-radius: 5px;
}

.DashSidebar.collapsed .DashMenu-item-wrapper:hover .DashDropdown {
    display: block;
}
